h1 {
	color: #fff;
	padding-left: 0px;
	text-align: center;
}

a h1:hover {
	color: #999;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 100px 100px 100px 100px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ccc;
	background-color: #333;
	text-align: left;
	}
#content {
	width: 400px; 
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto; 	
	background: #666;
	border: 5px solid #ccc;
	text-align:left; 
	
	width: 400px; 
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 370px;
	}
html>body #content {
	width: 370px; 
	}
